<!DOCTYPE html>
<html>
<head>
    <meta testCharset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/styles/header.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Righteous&display=swap" rel="stylesheet"> 
    
    
    <!-- <script src="https://kit.fontawesome.com/d3f5fbcc0c.js"></script> -->
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/characters">View Your Characters</a>
        <a href="/characters/new">Create A New Character</a>
    </nav>
    
